services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    command: npm run start:dev
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      DATABASE_URL: postgresql://postgres:pass@workme-db:5432/postgres?schema=public
      JWT_SECRET: supersegreto
    ports:
      - "3000:3000"
    depends_on:
      - workme-db

  workme-db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: pass
    volumes:
      - dbdata:/var/lib/postgresql/data

volumes:
  dbdata:
